.teamBoardContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.teams {
    display: flex;
    max-width: 1280px;
    width: 100%;
    margin: auto;
    justify-content: space-around;
}

.team {
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 84, 139, 0.5);
    border-radius: 10px;
    width: 30%;
    margin: 15px;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.teamName {
    width: 250px;
    height: 40px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: 25px;
    font-weight: 700;
    margin: 5px 10px;
    padding: 15px;
    border-radius: 5px;
}
.teamNameActive {
    border: .5px solid rgb(0, 0, 0, 0.2);
}
.teamNameInactive {
    border: .5px solid rgb(0, 0, 0, 0.2);
}

.players {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    min-height: 240px;
}

.player {
    min-width: 250px;
    padding: 5px 0;
    color: rgba(255, 255, 255, 0.9);
    border-bottom: .5px solid rgb(0, 0, 0, 0.2);
    font-size: 23px;
    text-align: center;
}