.teamSetupContainer {
    display: flex;
    flex-direction: column;
}
.teamsSetup {
    display: flex;
    max-width: 1280px;
    margin: auto;
    justify-content: space-around;
}
.teamSetup {
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 84, 139, 0.5);
    border-radius: 10px;
    width: 45%;
    margin: 15px;
    padding: 15px;
    justify-content: center;
    align-items: center;
}
.teamSetupName {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: 25px;
    font-weight: 700;
    margin: 5px 10px;
}

.playersSetup {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.playerSetup {
    padding: 5px 0;
}